:root {
   --bg-light: #fcfcf9;
   --text-light: #4f7b98;
   --bg-dark: #191a1a;
   --text-dark: #e8e8e6;
}

@font-face {
   font-family: 'Departure Mono';
   src: url('/public/font/DepartureMono-Regular.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

body {
   background: var(--bg-light);
   color: var(--text-light);
   margin: 0;
   font-family: 'Departure Mono', monospace;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
   body {
      background: var(--bg-dark);
      color: var(--text-dark);
   }
}

body.dark-theme {
   background: var(--bg-dark);
   color: var(--text-dark);
}
